PORT=4000
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
PORT=4000
NODE_ENV=production
SENTRY_DSN=https://sentry.domain
NEXT_PUBLIC_SENTRY_DSN=https://sentry.domain
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_URL=